<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Delivery Address</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item lines="none">
        <ion-input placeholder="Full Name"></ion-input>
      </ion-item>

     <ion-item lines="none">
        <ion-input placeholder="Mobile Number"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea placeholder="Address"></ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-input placeholder="City"></ion-input>
      </ion-item>

     <ion-item lines="none">
        <ion-input placeholder="Pincode"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Payment Method</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-radio-group value="cod">

        <ion-item>
          <ion-label>Cash on Delivery</ion-label>
          <ion-radio slot="start" value="cod"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>UPI</ion-label>
          <ion-radio slot="start" value="upi"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Debit / Credit Card</ion-label>
          <ion-radio slot="start" value="card"></ion-radio>
        </ion-item>

      </ion-radio-group>

    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Price Details</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <div class="row">
        <span>Items Total</span>
        <span>₹{{totalPrice}}</span>
      </div>

      <div class="row">
        <span>Delivery</span>
        <span>FREE</span>
      </div>

      <hr>

      <div class="row total">
        <span>Total Amount</span>
        <span>₹{{totalPrice}}</span>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>

  <ion-button (click)="placeOrder()">
    Place Order
  </ion-button>