.wishlist-page{
 --background:#FFF1F6;
}


.title{
 text-align:center;
 color:#ff4f9a;
 margin:20px;
 font-size:25px;
}


.product-grid{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
padding:15px;

}


ion-card{

border-radius:20px;
background:white;

}


img{

width:100%;
height:180px;
object-fit:cover;

}


h3{

font-size:16px;
font-weight:bold;

}


p{

color:#ff4f9a;
font-size:18px;

}


.buttons{

display:flex;
gap:5px;

}


ion-button{

font-size:12px;

}